.tarjeta {
    width: 300px;
    height: 180px;
    border: 3px solid #333333;
    border-radius: 10px;
    padding: 20px;
    margin: 40px auto;
    background-color: #fdfdfd;
    box-sizing: border-box;
    text-align: center;
}

.tarjeta h2 {
    margin-top: 0;
    color: #1565c0;
}